@tailwind base;
@tailwind components;
@tailwind utilities;


.open{
    width: calc(100% - 300px);
    left: 275px;
}
.close{
    width: calc(100% - 200px);
    left: 150px;
}


  
.tooltipNone {
    display: none;
  }